:root {
    --main: rgb(0, 65, 120);
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
}

* {
    box-sizing: border-box;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    font-family: 'Sarabun', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 0;
    transition: 0.2s all;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 0;
}

.wall {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    aspect-ratio: 16 9;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
    align-items: center;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    user-select: none;
}

.menu-container .nav {
    position: relative;
    right: 0;
    font-size: 20px;
    display: flex;
    transition: 0.2s all;
}

.menu-container .nav.selected {
    color: var(--main);
}

.menu-container .nav:hover {
    color: var(--main);
}

p.lighter {
    font-size: 16px;
    font-weight: 200;
}

p.medium {
    font-size: 20px;
    font-weight: 500;
}

p.bold {
    font-size: 24px;
    font-weight: 600;
}

.content {
    position: relative;
    display: grid;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* border: 1px solid var(--main); */
}

.discordpage {
    position: absolute;
    top: 10px;
    right: 10px;
}

.con1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    transform: translateX(-50%);
    left: 50%;
}

.content .topic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 50px;
    .Circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10px;
        width: 80px;
        height: 80px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 50px;
        .Center {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 50px;
        }
    }
    .fkprogress {
        position: relative;
        margin-top: 10px;
        width: 60%;
        height: 5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        .fkprogress2 {
            position: relative;
            width: 25%;
            height: 100%;
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.content .message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 10px;
    gap: 10px;
    border-radius: 25px;
    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 500px;
        width: 500px;
        height: fit-content;
        font-size: 20px;
        padding: 20px;
        border-radius: 25px;
        .text {
            position: relative;
            display: flex;
            align-items: center;
        }
        i {
            margin-right: 1px;
        }
        img {
            margin-top: 10px;
            border-radius: 20px;
        }
    }
}

.content a {
    border: none;
    outline: none;
    color: black;
}