:root {
    --main: rgb(90, 40, 150);
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.12em);
    transition: 0.4s all;
}

.bg-white:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5em);
}

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: black;
}

::-webkit-scrollbar {
    width: 0vh;
    border-radius: 0;
    transition: 0.2s all;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 0;
}

.wall {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    aspect-ratio: 16 9;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1.0em;
    align-items: center;
}

.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    user-select: none;
    .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em 1.0em;
        border-radius: 2.5em;
        user-select: none;
        .nav {
            position: relative;
            right: 0;
            font-size: 1.2em;
            display: flex;
            transition: 0.2s all;
        }
        .nav:hover {
            color: var(--main);
        }
        .nav.selected {
            color: var(--main);
        }
    }
    .prop {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 1.5em;
        border-bottom: 0 solid transparent;
        border-top: 1.5em solid var(--main);
        border-left: 1.5em solid transparent;
        border-right: 1.5em solid transparent;
        /* background-color: black; */
        span {
            position: relative;
            margin-bottom: 1.5em;
            color: white;
        }
    }
}


/* .menu-container .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1.0em;
    border-radius: 2.5em;
    user-select: none;
    .nav {
        position: relative;
        right: 0;
        font-size: 1.2em;
        display: flex;
        transition: 0.2s all;
    }
    .nav:hover {
        color: var(--main);
    }
    .nav.selected {
        color: var(--main);
    }
}

.menu-container .prop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 1.5em;
    border-bottom: 0 solid transparent;
    border-top: 1.5em solid var(--main);
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
} */


/* .menu-container .prop span {
    position: relative;
    margin-bottom: 1.5em;
    color: white;
} */


/* .menu-container .box .nav {
    position: relative;
    right: 0;
    font-size: 1.2em;
    display: flex;
    transition: 0.2s all;
} */


/* 
.menu-container .box .nav.selected {
    color: var(--main);
}

.menu-container .box .nav:hover {
    color: var(--main);
} */

p.lighter {
    font-size: 0.8em;
    font-weight: 200;
}

p.medium {
    font-size: 1.0em;
    font-weight: 500;
}

p.bold {
    font-size: 1.2em;
    font-weight: 600;
}

.content {
    position: relative;
    display: grid;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* border: 1px solid var(--main); */
}

.content .topic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 6em;
    padding: 0.5em;
    border-radius: 30em;
    .Circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0.5em;
        width: 5em;
        height: 5em;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 5em;
        .Center {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5em;
            height: 1.5em;
            background-color: rgb(255, 255, 255);
            border-radius: 1.5em;
        }
    }
    .fkprogress {
        position: relative;
        margin-top: 0.5em;
        width: 60%;
        height: 0.25em;
        border-radius: 0.5em;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        .fkprogress2 {
            position: relative;
            width: 25%;
            height: 100%;
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.content .message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 55em;
    padding: 0.5em;
    gap: 0.5em;
    border-radius: 1.25em;
    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 25em;
        width: 25em;
        height: fit-content;
        font-size: 1.2em;
        padding: 1.2em;
        border-radius: 1.25em;
        .text {
            position: relative;
            display: flex;
            align-items: center;
        }
        i {
            margin-right: 0.20em;
            margin-top: 0.30em;
        }
        img {
            margin-top: 0.75em;
            border-radius: 1.0em;
        }
    }
}

.content a {
    border: none;
    outline: none;
    color: black;
}


/*  */